<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kasa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/かさ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        android:theme="@style/AppTheme.NoActionBar"

        <activity android:name=".Traductor"
            android:label="Traductor"></activity>
        <activity android:name=".Particulas.ParticulasIn"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Busqueda.Capitulo1B"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Vocabulario.Vocabulario"
            android:label="Vocabulario"/>
        <activity android:name=".Vocabulario.Capitulo1"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Particulas.Particulas"
            android:label="Particulas"/>
        <activity
            android:name=".Learn"
            android:label="Aprender"
            />
        <activity
            android:name=".Games"
            android:label="Juegos"
             />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>